# ignore druid output
druid.log

# ignore compiled
luac.out

# ignore luarocks build files
*.src.rock
*.zip
*.tar.gz

# ignore objects
*.o
*.os
*.ko
*.obj
*.elf

# ignore precompiled headers
*.gch
*.pch

# ignore libs
*.lib
*.a
*.la
*.lo
*.def
*.exp

# ignore shared objects
*.dll
*.so
*.so.*
*.dylib

# ignore executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

